header {
    background-color: rgb(58, 4, 58); 
    color: #fff; 
    padding: 20px; 
}


body {
    font-family: "Times New Roman", Times, serif; 
    background-color: rgb(162, 107, 162);
}

.section {
    text-align: center; /
    text-decoration-color: navy;
    margin: 10px; 
    padding: 10px; 
}



nav ul {
    list-style-type: none; 
    display: flex; 
    justify-content: center; 
}

nav ul li {
    margin: 0 10px; 
}


nav ul li:hover {
    background-color: lightgreen; 
}