header {
    background-color: rgb(58, 4, 58); 
    color: #fff; 
    padding: 20px; 
}

body {
    font-family: "Times New Roman", Times, serif; 
    background-color: rgb(162, 107, 162);
}

.section {
    text-align: center;
    margin: 10px; 
    padding: 10px; 
}

nav ul {
    list-style-type: none; 
    display: flex; 
    justify-content: center; 
}

nav ul li {
    margin: 0 10px; 
}

nav ul li:hover {
    background-color: lightgreen; 
}

.purple-button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.purple-button:hover {
    background-color: plum;
}


